@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: 'Baskervville', serif;
} */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Cinzel';
} 
p{
  font-family:serif;
  font-size: 1.2rem;
}